@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Open+Sans:600&display=swap');

.App {
  text-align: left;
  height: 100%;
  background: white;
  padding: 20px;
}

.top-border {
  background-color: white;
  height: 22px;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 3;
}

.App-header {
  background-color: white;
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(16px + 2vmin);
  /*color: rgb(252, 176, 170);*/
  color: black;
  font-family: 'Libre Baskerville', serif;
  padding: 10px;
  position: fixed;
  z-index: 2;
}

.description {
  font-family: 'Open Sans', sans-serif;
  color: grey;
  font-size: 16px;
}

.portfolio {
  top: 20px;
  z-index: 1;
  width: 80%;
  margin-left: 20%;
}

.navigation {
  border: 0px;
  color: grey;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 22px;
  cursor: pointer;
  line-height: 1px;
  outline: none;
}

.navigation:hover {
  color: black;
}

.headshot {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.about-text-header {
  font-size: 20px;
  color: black;
  align-items: center;
  margin: 50px;
  font-family: 'Libre Baskerville', sans-serif;
  display: flex;
  flex-direction: column;
}

.about-text {
  font-size: 14px;
  color: black;
  align-items: center;
  margin-top: 15px;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  width: 500px;
  line-height: 28px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin-left: 20%;
}

.column {
  flex: 35%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}