@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Open+Sans&display=swap');

.App {
  text-align: left;
  height: 100%;
  background: white;
  padding: 20px;
}

.top-border {
  background-color: white;
  height: 22px;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 3;
}

.App-header {
  background-color: white;
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(20px + 2vmin);
  color: rgb(252, 176, 170);
  font-family: 'Libre Baskerville', serif;
  padding: 10px;
  position: fixed;
  z-index: 2;
}

.description {
  font-family: 'Open Sans', sans-serif;
  color: grey;
  font-size: 16px;
}

.portfolio {
  top: 20px;
  z-index: 1;
  width: 80%;
  margin-left: 20%;
}

.navigation-work {
  border: 0px;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 170px;
  left: 22px;
}

.navigation-about {
  border: 0px;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 200px;
  left: 22px;
}

.navigation-contact {
  border: 0px;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 230px;
  left: 22px;
}

.headshot {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.headshot-border {
  height: 320px;
  width: 320px;
  background-color: rgba(255,255,255,0);
  position: absolute;
  align-items: center;
  margin-top: -362px;
  border: 3px dashed rgba(252, 176, 170, 0.7);
}

.about-text-header {
  font-size: 20px;
  color: black;
  align-items: center;
  margin: 50px;
  font-family: 'Libre Baskerville', sans-serif;
  display: flex;
  flex-direction: column;
}

.about-text {
  font-size: 14px;
  color: black;
  align-items: center;
  margin: 15px;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  width: 500px;
  line-height: 28px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin-left: 20%;
}

.column {
  flex: 25%;
  /*max-width: 25%; */
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}